<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/<filename here>.png') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Bloody Cats!</title>
</head>
<body>
    {% for pet in pets %}
        {{ pet.name }}<br>
        {{ pet.description }}<br>
    {% endfor %}
</body>